:root {
	--green: #6a994e;
	--dark-green: #2d3a2d;
	--light-green: #a7c957;
	--light-color: #f2e8cf;
	--red-color: #bc4749;
	--white-color: #f5f5f5;
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
}

html {
	font-size: 10px;
	box-sizing: border-box;
	scroll-behavior: smooth;
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 1.6rem;
	margin: 0;
	padding: 0;
	background-color: var(--dark-green);
	color: var(--light-color);
	height: 100%;
	margin: 0;
	display: flex;
	flex-direction: column;
}

/* HTML: <div class="loader"></div> */
.loader {
	width: fit-content;
	font-size: 40px;
	font-family: system-ui, sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	color: #0000;
	-webkit-text-stroke: 1px var(--light-color);
	background: radial-gradient(0.71em at 50% 1em, #bc4749 99%, #bc4749 101%) calc(50% - 1em) 1em/2em 200% repeat-x text, radial-gradient(0.71em at 50% -0.5em, #0000 99%, #000 101%) 50% 1.5em/2em 200% repeat-x text;
	animation: l10-0 0.8s linear infinite alternate, l10-1 4s linear infinite;
}
.loader:before {
	content: "Cargando";
}
@keyframes l10-0 {
	to {
		background-position-x: 50%, calc(50% + 1em);
	}
}
@keyframes l10-1 {
	to {
		background-position-y: -0.5em, 0;
	}
}

.flex-column-all-h {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	padding: 0.4rem;
	overflow-x: auto;
}

.flex-column {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 0.4rem;
}

.flex-rows {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	gap: 4rem;
}

#welcomeForm {
	padding: 1rem;
}

.container-fluid {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.container-content {
	width: auto;
	overflow: auto;
}

.d-none {
	display: none;
}

.mb-0 {
	margin-bottom: 0;
}

.mt-0 {
	margin-top: 0;
}

.mt-2 {
	margin-top: 2rem;
}

.p-2 {
	padding: 0.5rem;
}

.text-green {
	color: var(--green);
}

.text-light-green {
	color: var(--light-green);
}

.text-dark-green {
	color: var(--dark-green);
}

.text-white {
	color: var(--white-color);
}

.text-red {
	color: var(--red-color);
}

.header-flex-column {
	padding: 0.4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.welcome-title {
	font-size: 3rem;
	font-family: "Parkinsans", sans-serif;
	margin-top: 0;
	margin-bottom: 0;
}

.welcome-title::first-letter {
	font-size: 4.5rem;
}

.tracking-in-expand {
	-webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

.form-floating {
	position: relative;
	margin-bottom: 3rem;
}

.form-floating input,
.form-floating select {
	width: 100%;
	padding: 1rem 0.75rem;
	font-size: 1rem;
	line-height: 1.25;
	border: 0;
	color: var(--light-color);
	border-bottom: 1px solid var(--light-green);
	border-radius: 0.25rem;
	background-color: var(--dark-green);

	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
	appearance: none;
}

.form-floating label {
	position: absolute;
	top: 1rem;
	left: 0.75rem;
	padding: 0 0.25rem;
	pointer-events: none;
	transition: all 0.1s ease-in-out;
	font-size: 1rem;
	color: var(--light-color);
	background-color: var(--dark-green);
}

.form-floating input:focus,
.form-floating select:focus {
	border-color: var(--light-green);
	outline: 0;
	box-shadow: 0 0 0 0.2rem var(--light-green);
}

.form-floating input:not(:placeholder-shown) + label,
.form-floating select:not(:placeholder-shown) + label,
.form-floating input:focus + label,
.form-floating select:focus + label {
	top: -0.6rem;
	left: 0.75rem;
	font-size: 0.75rem;
	color: var(--light-color);
	background-color: var(--dark-green);
	padding: 0 0.25rem;
}

#welcomeForm button {
	width: 100%;
	padding: 1rem 0.75rem;
	font-size: 1rem;
	line-height: 1.25;
	border: 0;
	font-size: 3rem;
	color: var(--light-color);
	border-radius: 0.25rem;
	background-color: var(--light-green);
	cursor: pointer;
	transition: background-color 0.15s ease-in-out;
}

#welcomeForm button:hover {
	background-color: var(--green);
}

@-webkit-keyframes tracking-in-expand {
	0% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}
@keyframes tracking-in-expand {
	0% {
		letter-spacing: -0.5em;
		opacity: 0;
	}
	40% {
		opacity: 0.6;
	}
	100% {
		opacity: 1;
	}
}

#mainPage {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: auto; /* Permite el desplazamiento si el contenido es demasiado grande */
}

.gifts-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 2rem;
	justify-content: center;
	align-items: center;
}

.gifts-container a {
	color: var(--light-green);
	text-decoration: none;
	width: 100%;
	max-width: 24rem;
	text-align: center;
}

.gifts-container a img {
	max-width: 10rem;
	border-radius: 1.2rem;
	width: 100%;
}

.gifts-container a p {
	text-align: center;
	margin: 0;
}

.gift-icon {
	font-size: 10.5rem;
}

.nav-tab {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 1.2rem 2.4rem;
	font-size: 2rem;
}

.nav-item {
	color: var(--light-green);
	text-decoration: none;
}

.nav-item-home {
	padding: 0.5rem 1rem; /* Añade padding para que parezca un botón */
	font-size: 1.5rem; /* Ajusta el tamaño de la fuente */
	text-decoration: none; /* Elimina el subrayado del enlace */
	text-align: center; /* Centra el texto */
	background-color: var(--red-color); /* Color de fondo */
	color: var(--light-color); /* Color del texto */
	border: none; /* Elimina cualquier borde predeterminado */
	border-radius: 0.5rem; /* Añade bordes redondeados */
	cursor: pointer; /* Cambia el cursor al pasar sobre el enlace */
	transition: background-color 0.3s ease; /* Añade una transición suave para el cambio de color */
}

.nav-item-home:hover {
	background-color: var(--green); /* Cambia el color de fondo al pasar el cursor */
}

.nav-item-home:active {
	transform: scale(0.95); /* Reduce el tamaño del enlace al hacer clic */
}

.link-disabled {
	pointer-events: none;
	color: rgba(167, 201, 87, 0.1);
}

.photo-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	max-width: 40rem;
}

.photo-container img {
	width: 100%;
	border-radius: 1.2rem;
}

#priceGift {
	margin: 0;
}

#nameGift {
	font-size: 3rem;
	font-family: "Parkinsans", sans-serif;
	margin-top: 0;
	margin-bottom: 0;
}

#nameGift::first-letter {
	font-size: 4.5rem;
}

#descriptionGift {
	font-size: 1.5rem;
}

#linkGift {
	display: block; /* Asegura que el enlace se comporte como un bloque */
	width: 100%; /* Ocupa todo el ancho del contenedor */
	padding: 1rem; /* Añade padding para que parezca un botón */
	font-size: 1.5rem;
	text-decoration: none;
	text-align: center;
	background-color: var(--light-green);
	color: var(--dark-green);
	border: none; /* Elimina cualquier borde predeterminado */
	border-radius: 0.5rem; /* Añade bordes redondeados */
	cursor: pointer; /* Cambia el cursor al pasar sobre el enlace */
	transition: background-color 0.3s ease; /* Añade una transición suave para el cambio de color */
}

#linkGift:hover {
	background-color: var(--green); /* Cambia el color de fondo al pasar el cursor */
}

#linkGift:active {
	transform: scale(0.95); /* Reduce el tamaño del enlace al hacer clic */
}

#otherPlace {
	background-color: rgba(167, 201, 87, 0.25);

	padding: 2rem;
	border-radius: 1rem;
	margin-top: 2rem;
}

#otherPlace ul {
	list-style-image: url(../img/santa.png);
}

.notice-label {
	font-size: 1.2rem;
	background: rgba(188, 71, 73, 0.25);
	margin-top: 1.5rem;
	padding: 1.6rem;
}

footer {
	margin-top: auto; /* Empuja el footer al final de la página */
	width: 100%;
	display: flex;
	justify-content: center; /* Centra el contenido horizontalmente */
	background-color: var(--dark-green); /* Ajusta el color de fondo si es necesario */
	padding: 1rem 0; /* Añade padding para espacio adicional */
}

audio::-webkit-media-controls-panel {
	background-color: var(--dark-green) !important; /* Cambia el color de fondo de los controles */
	color: var(--light-color) !important; /* Cambia el color del texto */
}

audio::-webkit-media-controls-play-button,
audio::-webkit-media-controls-volume-slider,
audio::-webkit-media-controls-timeline {
	color: var(--light-color) !important; /* Cambia el color del texto y los iconos */
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-mute-button,
audio::-webkit-media-controls-fullscreen-button {
	color: var(--light-color) !important; /* Cambia el color del texto y los iconos */
}
